/* CSS for the card container */
.side-container {
  max-width: 450px;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgba(146, 146, 146, 0.598);
}

/* CSS for the header */
.side-header {
  text-align: center;
  padding-bottom: 20px;
  background-color: #ffffffd4;
}

.side-header-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.07rem;
  margin-bottom: 5px;
}

.side-header-email {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: rgba(78, 78, 78, 0.845);
  padding-bottom: 2px;
  border-bottom: 0.7px solid rgba(62, 62, 62, 0.383);
  transition: 0.1s;
  text-transform: uppercase;
}

.side-header-email:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-bottom: 0.7px solid black;
}

/* CSS for the profile picture */
.side-header img {
  width: 175x;
  height: 175px;
  margin-top: 35px;
  margin-bottom: 10px;
}

/* CSS for the body and other elements */
.side-body {
  background-color: #758595;
  color: #fff;
}

.side-body-info {
  padding: 15px;
  padding-top: 30px;
  line-height: 1.7;
}

.info-category {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 80px;
  letter-spacing: 0.05rem;
}

.info-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  opacity: 80%;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.side-divide {
  width: 90%;
  margin: auto;
}

.side-body-about {
  padding: 25px;
  padding-bottom: 25px;
}

.side-body-about h3 {
  font-family: 'Roboto', sans-serif;
  color: #ffffffe3;
  font-weight: 600;
  letter-spacing: 0.08rem;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.side-body-about p {
  font-family: 'Trirong', serif;
  color: #ffffffc9;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1.7;
}

.side-download-cv {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 25px;
  padding-bottom: 30px;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.side-download-cv a {
  text-decoration: none;
  color: #ffffffb0;
  border-bottom: 1px solid #ffffffb0;
  transition: 0.2s;
}

.side-download-cv a:hover {
  cursor: pointer;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.side-download-cv a:active,
.side-download-cv a:visited {
  color: white;
}

.social-icon-container {
  margin-left: 25px;
  background-color: #758595 !important;
  padding-bottom: 20px;
  display: flex;
}

.social-icon {
  margin-right: 12px;
}

.email {
  margin-top: 1px;
}

.social-icon,
.social-icon:active,
.social-icon:visited {
  font-size: 1.3rem;
  color: #ffffffb0;
  transition: 0.2s;
}

.social-icon:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  color: #202020;
  opacity: 50%;
  margin-top: 50px;
  margin-left: 5px;
}

@media screen and (max-width: 1280px) {
  .side-container {
    max-width: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
  }

  .side-header img {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .side-header-name {
    font-size: 1.5rem;
  }

  .side-body-info table {
    padding-left: 25px;
  }

  .side-body-about {
    padding-left: 50px;
  }

  .side-download-cv {
    padding-left: 50px;
  }

  .info-category {
    padding-right: 100px;
  }

  .copyright {
    text-align: center;
    margin-bottom: 25px;
  }

  .social-icon-container {
    margin-left: 50px;
  }
}

@media screen and (max-width: 980px) {

  .side-body-info table {
    margin: 0 auto;
    text-align: center;
    padding-left: 0px;
  }

  .side-body-about {
    padding-left: 50px;
    text-align: center;
  }

  .side-download-cv {
    padding-left: 50px;
    text-align: center;
  }

  .info-category {
    padding-right: 100px;
  }

  .side-body-about {
    padding-left: 10px;
    padding-right: 10px;
  }

  .side-body-info {
    padding-left: 0;
    padding-right: 0;
  }

  .side-download-cv {
    padding-left: 0;
    padding-right: 0;
  }

  .social-icon-container {
    margin-left: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .side-component {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 430px) {
  .info-category {
    padding-right: 40px;
  }

  .copyright {
    margin-top: 15px;
  }
}

@media screen and (max-width: 340px) {
  .side-container {
    border-radius: 0;
  }

  .side-header-email {
    font-size: 0.7rem;
  }

  .side-body-about p {
    font-size: 0.8rem;
  }
}
