* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  overflow: hidden;
}

.page {
  min-height: 100vh;
  background-color: #d9d9d9;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.side-component {
  flex: 0 0 400px;
  margin-right: 20px;
}

.page-card {
  background-color: #ffffffd4;
  margin-top: 50px;
  margin-left: 25px;
  overflow: hidden;
  flex: 1;
  align-self: flex-start;
  border-radius: 8px;
  border: 1px solid rgba(146, 146, 146, 0.598);
  padding-top: 50px;
  padding-bottom: 30px;
}

.copyright {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 10px;
  padding: 50px;
}

.title h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-weight: 6700;
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.title p,
.title p a {
  font-family: 'Merriweather', serif;
  font-size: 1.15rem;
  line-height: 1.7;
  letter-spacing: 0.3px;
  font-weight: 300;
  color: black;
}

.title p a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  transition: 0.2s;
}

.title p a:hover {
  color: #758595 !important;;
  cursor: pointer;
  border-bottom: 1px solid #758595;
}

.title p a:visited,
.title p a:active {
  color: black;
}

.page-divide {
  margin-right: 40px;
  margin-left: 40px;
  opacity: 40%;
}

.index-content {
  padding: 50px;
  padding-top: 30px;
  font-family: Inter;
}

.index-content p {
  line-height: 1.7;
  font-weight: 300;
  font-size: 1rem;
  color: #202020;
}

/* RESUME */

.resume-content {
  padding: 50px;
  padding-top: 30px;
  font-family: Inter;
}

.resume-card,
.project-card {
  margin-bottom: 40px;
}

/* RESUME EXPERIENCE */

.resume-experience h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Trirong', serif;
  font-weight: 400;
  color: #383838;
  margin-bottom: 20px;
}

.resume-experience h3 {
  font-size: 1.2rem;
  font-family: Inter;
  font-weight: 600;
  color: #383838;
  margin-top: 20px;
  margin-bottom: 5px;
}

.experience-date {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 300;
  color: #383838;
  opacity: 50%;
  margin-bottom: 5px;
}

.experience-company {
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 300;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1px;
}

.resume-content ul li {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 30px;
  font-weight: 300;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1px;
  line-height: 1.2;
}

/* RESUME EDUCATION */

.resume-education h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Trirong', serif;
  font-weight: 400;
  color: #383838;
  margin-top: 50px;
}

.education-degree {
  color: #383838;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.education-school {
  color: #383838;
  font-weight: 300;
  opacity: 70%;
  font-size: 1.1rem;
}

/* RESUME CERTS */

.resume-certs h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Trirong', serif;
  font-weight: 400;
  color: #383838;
  margin-top: 50px;
  margin-bottom: 20px;
}

.resume-certs p {
  font-weight: 300;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  letter-spacing: 0.05rem;
}

/* PROJECTS */

.project-content {
  padding-bottom: 50px;
}

.project-container {
  margin-top: 30px;
}

.project-title-container {
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.26);
}

.project-title-container h3 {
  margin-left: 20px;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 400;
  color: #383838;
}

.project-title-container a {
  text-decoration: none;
}

.project-title-container a h3:hover {
  color: #758595;
}

.project-title-container p {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 0.7rem;
  font-family: Inter;
  font-weight: 400;
  color: #383838;
}

.project-image-container {
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-right: 1px solid rgba(0, 0, 0, 0.26);
  border-left: 1px solid rgba(0, 0, 0, 0.26);
}

.project-image-container img {
  max-width: 100%;
}

/* 404 */

.card-404 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title-404 h1 {
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 10rem;
}

.subtitle-404 p {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 2rem;
}

.home-btn-404 {
  text-align: center;
  margin-top: 50px;
}

.link-404{
  font-family: Inter;
  font-weight: 600;
  text-decoration: none;
  background-color: #758595;
  color: #fff;
  padding: 14px 28px 14px 28px;
}

.contact-title {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.contact-content p {
  font-family: 'Merriweather', serif;
  font-size: 1.15rem;
  line-height: 1.7;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.contact-email {
  font-family: 'Merriweather', serif;
  font-size: 1.15rem;
  line-height: 1.7;
  letter-spacing: 0.3px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  border-bottom: none;
}

.contact-email:hover {
  border-bottom: 0.7px solid black;
}

.contact-icon-container {
  margin-left: 50px;
  padding-bottom: 10px;
  display: flex;
}

.contact-icon {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.416);
  text-decoration: none;
  margin-right: 12px;
  transition: 0.2s;
}

.contact-icon:hover {
  color:#000000;
}

@media screen and (max-width: 1280px) {

  .main-content {
    flex-direction: column;
    max-width: 80%;
  }

  .side-component {
    order: 2;
    margin-left: 20px;
  }

  .contact-card {
    /* width: calc(100% - 40px); */
    width: 100% !important;
    margin: 20px;
  }

  .contact-title {
    text-align: center;
  }

  .contact-icon-container {
    margin-left: 0;
    margin-top: 30px;
    justify-content: center;
  }

  /* .page-card {
    margin-left: 20px;
    margin-right: 20px;
  } */

  /* CONTACT */

  .contact-title {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 980px) {
  .main-content {
    max-width: 90vw;
  }

  .page-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .side-component {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 480px) {

  .page-card {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .title {
    padding-bottom: 15px;
    text-align: center;
  }

  .title h2 {
    font-size: 2.5rem;
  }

  .title p,
  .title p a {
    font-size: 1rem;
  }
  
  /* CONTACT */

  .contact-title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 430px) {
  .title {
    text-align: center;
    padding: 20px;
    padding-top: 50px;
  }

  /* RESUME */

  .resume-content {
    padding: 20px;
  }

  .resume-experience h2 {
    font-size: 1.2rem;
  }

  .resume-experience h3 {
    font-size: 0.9rem;
  }

  .experience-company {
    font-size: 0.9rem;
  }

  .resume-content ul li {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 0.9rem;
  }

  /* RESUME EDUCATION */

  .resume-education h2 {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .education-degree {
    font-size: 0.9rem;
  }
  .education-school {
    font-size: 0.8rem;
  }

  /* RESUME CERTS */

  .resume-certs h2 {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .resume-certs p {
    font-size: 0.75rem;
  }

  /* RESUME SKILLS */

  .resume-skills h2 {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  /* PROJECTS */

  .project-title-container h3 {
    font-size: 0.9rem;
  }

  /* CONTACT */

  .contact-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contact-card {
    margin: 0 !important;
  }
}

@media screen and (max-width: 340px) {
  .title h2 {
    font-size: 2rem;
  }

  .title p,
  .title p a {
    font-size: 1rem;
  }

  .page-card {
    margin-right: 0;
    margin-left: 0;
  }

  .side-component {
    margin-right: 0;
    margin-left: 0;
  }

  .index-content {
    padding: 10px;
    padding-top: 20px;
  }

  .page-card {
    margin-top: 20px;
  }

  .contact-card {
    width: 100%;
  }
}

@media screen and (max-width: 290px) {
  /* PROJECTS */

  .project-title-container h3 {
    font-size: 0.7rem;
  }
}
